body{
    background-color: lime;
}
#culture{
    display: flex;
    justify-content: center;
    font-size: larger;
}
#culimg{
    display: flex;
    justify-content: center;
}
p{
    font-size: large;
}
li{
    font-size: larger;
}
td{
    font-size: larger;
}
th{
    font-size: 30px;
}